<section class="font-family-poppins">

    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Headline -->
        <div class="contact">
            <div class="seperator"></div>

            <div class="headline">
                <span><b>Contact</b></span>

                <div>
                    <span><b>Got a problem to solve?</b></span>
                    <p>
                        Contact me through this form, I am interested in hearing
                        <br>
                        from you, knowing your ideas and contributing to your
                        <br>
                        project with my work.
                        <br>
                        <br>
                        Need a Frontend developer?&nbsp;<b>Contact me!</b>
                    </p>
                </div>
            </div>

            <img class="contact-shadow" src="./../../../assets/graphics/shadows/contact-shadow-purple.svg" alt="">
        </div>

        <!-- Form -->
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div>
                <div class="input-wrapper">
                    <div class="input-area">
                        <input #name="ngModel" [(ngModel)]="contactData.name" id="name" name="name" required type="text"
                            placeholder="Your name">
                        <div class="input-icons">
                            <img class="done-icon" src="./../../../assets/graphics/contact/done.png" alt="">
                            <img class="error-icon" src="./../../../assets/graphics/contact/error.png" alt="">
                        </div>
                    </div>
                    <p class="error-message">Your name is required</p>
                </div>

                <div class="input-wrapper">
                    <div class="input-area">
                        <input #email="ngModel" [(ngModel)]="contactData.email" id="email" name="email" required
                            type="email" placeholder="Your email">
                        <div class="input-icons">
                            <img class="done-icon" src="./../../../assets/graphics/contact/done.png" alt="">
                            <img class="error-icon" src="./../../../assets/graphics/contact/error.png" alt="">
                        </div>
                    </div>
                    <p class="error-message">Your email is required</p>
                </div>

                <div class="textarea-wrapper">
                    <div class="text-area">
                        <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message"
                            required placeholder="Your message" rows="9" maxlength="500"></textarea>
                        <div class="textarea-icons">
                            <img class="done-icon" src="./../../../assets/graphics/contact/done.png" alt="">
                            <img class="error-icon" src="./../../../assets/graphics/contact/error.png" alt="">
                        </div>
                    </div>
                    <p class="error-message">Your message is empty</p>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" (change)="isChecked($event)">
                        <div></div>
                    </label>
                    <span>I've read the&nbsp;<a href="privacy-policy">privacy policy</a>&nbsp;and agreee to the processing of my data as
                        outlined.</span>
                </div>

                @if (name.valid && email.valid && message.valid && getCheckboxState()) {
                <div class="button-wrapper">
                    <button class="button-green" [disabled]="false">Send message :)</button>
                </div>
                }
                @else {
                <div class="button-wrapper">
                    <button class="button-green" [disabled]="true">Send message :)</button>
                </div>
                }
            </div>

            <a href="#above-the-fold">
                <div class="go-up-button"></div>
            </a>
        </form>
    </div>

</section>