@import './../../../../styles.scss';

header {
    position: fixed;

    @include displayFlex($jC: space-between);

    width: calc(1440px - 200px);

    padding: 37px 100px;

    color: white;
    background-color: $colorBlack;

    z-index: 99;
}

img {
    width: 150px;

    object-fit: contain;
}

nav {
    @include displayFlex($g: 29px);

    &>div {
        @include displayFlex($fD: column, $aI: flex-start, $g: 4px);
    }
}

a {
    color: white;

    font-size: 23px;

    &:hover {
        color: $colorGreen;
    }
}

.highlightingText {
    color: $colorGreen;

}

.underline {
    width: 55px;

    border: 3px solid $colorPurple;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media (max-width: 1440px) {
    header {
        width: calc(100vw - 200px);
    }
}