@import './../../../../styles.scss';

section {
  position: fixed;
  left: 0;
  top: 0;

  @include displayFlex();

  width: 100%;

  background-color: $colorBlack;

  z-index: 99;
}

header {
  @include displayFlex($jC: space-between);

  width: calc(1440px - 200px);

  color: white;

  padding: 37px 100px;

  @media (max-width: 1440px) {
    width: calc(100vw - 200px);
  }

  @media (max-width: 950px) {
    width: calc(100vw - 50px);

    padding: 37px 25px;
  }
}

img {
  width: 150px;

  object-fit: contain;
}

nav {
  @include displayFlex($g: 29px);

  .navigation {
    @include displayFlex($fD: column, $aI: flex-start, $g: 4px);
  }
}

a {
  color: white;

  font-size: 23px;

  @media (max-width: 550px) {
    font-size: 16px;
  }

  &:hover {
    color: $colorGreen;
  }
}

.highlightingText {
  color: $colorGreen !important;

}

.underline {
  width: 55px;

  border: 3px solid $colorPurple;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown-laguage {
  font-size: 23px;
}

.laguage-menu {

  @include displayFlex($g: 16px);

  @media (min-width: 950px) {
    margin-left: 32px;
  }

  & > button {
    font-size: 23px;

    border: none;

    color: $colorWhite;
    background-color: transparent;

    &:hover {
      color: $colorGreen;
    }
  }
}

.language-frame {
  border: 3px solid $colorPurple !important;
  border-radius: 4px;
}

@media (max-width: 950px) {
  .burger-menu {
    width: 30px;
    height: 32px;

    background-image: url("../../../../assets/graphics/burger-menu/burger-menu-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
      cursor: pointer;
    }
  }

  .burger-menu-animation-open {
    background-image: url("../../../../assets/graphics/burger-menu/burger-menu-4.png");

    animation: change-image-open 250ms;

    @keyframes change-image-open {
      0% {
        background-image: url("../../../../assets/graphics/burger-menu/burger-menu-1.png");
      }

      33% {
        background-image: url("../../../../assets/graphics/burger-menu/burger-menu-2.png");
      }

      66% {
        background-image: url("../../../../assets/graphics/burger-menu/burger-menu-3.png");
      }

      100% {
        background-image: url("../../../../assets/graphics/burger-menu/burger-menu-4.png");
      }
    }
  }

  .burger-menu-animation-close {
    background-image: url("../../../../assets/graphics/burger-menu/burger-menu-1.png");

    animation: change-image-close 250ms;

    @keyframes change-image-close {
      0% {
        background-image: url("../../../../assets/graphics/burger-menu/burger-menu-4.png");
      }

      33% {
        background-image: url("../../../../assets/graphics/burger-menu/burger-menu-3.png");
      }

      66% {
        background-image: url("../../../../assets/graphics/burger-menu/burger-menu-2.png");
      }

      100% {
        background-image: url("../../../../assets/graphics/burger-menu/burger-menu-1.png");
      }
    }
  }

  .burger-menu-content {
    position: absolute;
    top: 126px;

    @include displayFlex($fD: column, $aI: center, $jC: center, $g: 29px);

    width: 100vw;
    height: 100vh;

    background-color: rgba(65 72 86 / 60%);

    & > div {
      transform: translateY(-129px);
    }
  }

  .burger-menu-content-open {
    right: 0;

    animation: slide-in 250ms;

    @keyframes slide-in {
      from {
        right: -100vw;
        display: none;
      }

      to {
        right: 0;
        display: flex;
      }
    }
  }

  .burger-menu-content-close {
    right: -100vw;

    animation: slide-out 250ms;

    @keyframes slide-out {
      from {
        right: 0;
        display: flex;
      }

      to {
        right: -100vw;
        display: none;
      }
    }
  }
}
