<header>

    <!-- Name Logo -->
    <a routerLink="portfolio">
        <img src="./../../../../assets/graphics/logo.png" alt="">
    </a>

    @if (!imprint == true) {
    <!-- Nav bar -->
    <nav class="font-family-poppins">
        <div (click)="isClicked($event)">
            <a id="about-me-nav" href="#about-me">About me</a>
            <div id="underline" class="underline v-hidden"></div>
        </div>

        <div (click)="isClicked($event)">
            <a id="skills-nav" href="#my-skills">Skills</a>
            <div id="underline" class="underline v-hidden"></div>
        </div>

        <div (click)="isClicked($event)">
            <a id="portfolio-nav" href="#portfolio">Portfolio</a>
            <div id="underline" class="underline v-hidden"></div>
        </div>
    </nav>
    }

</header>