@import './../../../styles.scss';

section {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1440px;

    background-color: $backgroundColorBlack;

    &>img {
        position: absolute;
        top: 242px;

        width: 100%;

        object-fit: contain;
    }
}

.profil {
    display: flex;
    flex-direction: column;

    &>div:nth-child(1) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        width: 807px;
        height: 771px;

        background-image: url('./../../../assets/graphics/shadows/photo\ shadows.png');
        background-repeat: no-repeat;
        background-position: -56px 72px;
        background-size: contain;

        &>img {
            object-fit: contain;

            margin-left: 64px;
        }
    }

    .find-me-on {
        display: flex;
        gap: 32px;

        z-index: 99;

        &>div {
            display: flex;
            align-items: center;

            &>div {
                width: 100px;

                border: 4px solid $textColorPurple;

            }
        }

        &>nav {
            display: flex;
            gap: 42px;
        }

        &>a {
            font-size: 23px;

            color: $textColorWhite;
        }
    }
}

.headline {
    position: absolute;
    right: 56px;
    top: 160px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $textColorWhite;

    &>span {
        display: inline-flex;
        font-size: 64px;

        transform: translateX(20px) rotate(-90deg);
    }

    &>div {
        text-align: center;

        &>span {
            line-height: 92px;
        }

        &>span:nth-child(1) {
            font-size: 84px;
        }

        &>span:nth-child(3) {
            font-size: 58px;

            color: $textColorPurple;
        }
    }
}