<section>

    <div class="profil">

        <div>
            <img src="./../../../assets/graphics/profil/profil_1.png" alt="">
        </div>

        <div class="find-me-on">
            <div>
                <div></div>
            </div>

            <nav>
                <a href="">
                    <img src="./../../../assets/graphics/icons/github-small.png" alt="">
                </a>
                <a href="">
                    <img src="./../../../assets/graphics/icons/email-small.png" alt="">
                </a>
                <a href="">
                    <img src="./../../../assets/graphics/icons/linkedin-small.png" alt="">
                </a>
            </nav>

            <a href="#">stephan.schmidt821&#64;gmail.com</a>
        </div>

    </div>

    <div class="headline font-family-poppins">

        <span>I am</span>

        <div>
            <span><b>Stephan Schmidt</b></span>
            <br>
            <span>FRONTEND DEVELOPER</span>
        </div>

    </div>

    <img src="./../../../assets/graphics/vector/Vector.png" alt="">

</section>