@import './../../../styles.scss';

section {
  @include displayFlex();

  width: 100vw;

  margin-top: 130px;

  overflow-x: visible;
}

.above-the-fold {
  position: relative;

  @include displayFlex($fD: column, $jC: space-between);

  width: 1440px;
  height: calc(100vh - 130px);

  transition: 75ms all ease-in-out;

  overflow-x: visible;
}

.profil {
  position: relative;

  @include displayFlex($jC: flex-start);

  width: 100%;

  @media (max-width: 1200px) {
    @include displayFlex($fD: column, $g: 16px);
  }

  .picture-wrapper {
    position: relative;

    @include displayFlex();

    width: 100%;
  }

  .picture {
    position: relative;

    display: flex;

    width: 100%;
    height: calc(100vh * 0.75);

    background-image: url('./../../../assets/graphics/shadows/above-the-fold-shadow-purple-green.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -24px 32px;

    overflow-x: visible;

    @media (max-width: 1440px) {
      margin-left: 100px;
    }

    @media (max-width: 1200px) {
      width: 55vh;
      height: calc(100vh * 0.6);

      margin-left: 0;
    }

    @media (max-width: 1000px) and (min-height: 1440px) {
      margin-left: 240px;
    }

    @media (max-width: 750px) and (min-height: 1440px) {
      width: 35vh;
      height: calc(100vh * 0.4);
    }

    @media (max-width: 550px) {
      width: 100%;
      height: calc(100vh * 0.40);

      background-position: -8px 32px;

      margin-left: 100px;
    }

    @media (max-width: 550px) and (min-height: 1440px) {
      width: 25vh;
      height: calc(100vh * 0.25);
    }

    .portrait {
      transform: scaleX(-1);

      @media (max-width: 550px) {
        margin-left: 50px;
      }

      @media (max-width: 550px) and (min-height: 1440px) {
        margin-left: 100px;
      }
    }
  }

  .headline-wrapper {
    position: absolute;
    right: 0;
    top: 240px;

    @include displayFlex($fD: column, $g: 24px);

    width: max-content;

    z-index: 2;

    @media (max-width: 1440px) {
      right: 100px;
    }

    @media (max-width: 1200px) {
      position: unset;
    }

    .headline {
      @include displayFlex();

      color: $colorWhite;

      &>span {
        font-size: 48px;

        transform: rotate(-90deg);

        @media (max-width: 1440px) {
          font-size: 26px;
        }

        @media (max-width: 550px) {
          font-size: 16px;
        }
      }

      &>div {
        text-align: center;

        &>span {
          line-height: 96px;

          @media (max-width: 1440px) {
            line-height: 56px;
          }

          @media (max-width: 550px) {
            line-height: 40px;
          }
        }

        &>span:nth-child(1) {
          font-size: 90px;

          @media (max-width: 1440px) {
            font-size: 45px;
          }

          @media (max-width: 550px) {
            font-size: 28px;
          }
        }

        &>span:nth-child(3) {
          font-size: 58px;

          color: $colorPurple;

          @media (max-width: 1440px) {
            font-size: 29px;
          }

          @media (max-width: 550px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.find-scroll-wrapper {
  position: relative;

  @include displayFlex($jC: space-between);

  width: 100%;

  @media (max-width: 1440px) {
    @include displayFlex();
  }

  .find-me-on {
    @include displayFlex($g: 32px);

    z-index: 2;

    &>div {
      position: relative;

      display: flex;
      align-items: center;

      &>div {
        position: absolute;
        left: calc((1440px - 100vw) / 2);

        width: calc((100vw - 1440px) / 2);

        border: 4px solid $colorPurple;

        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        @media (max-width: 1440px) {
          left: calc((620px - 100vw) / 2);
          width: calc((100vw - 620px) / 2);
        }

        @media (max-width: 1000px) {
          left: calc((179px - 100vw) / 2);
          width: calc((100vw - 179px) / 2);
        }
      }
    }

    &>nav {
      @include displayFlex($jC: flex-start);

      width: 179px;

      &>div {
        @include displayFlex($jC: flex-start, $g: 42px);

        height: 41px;

        &>a {
          @include displayFlex();
        }
      }
    }

    &>a {
      font-size: 23px;

      color: $colorWhite;

      @media (max-width: 1000px) {
        display: none;
      }
    }
  }

  .scroll-down {
    position: absolute;
    right: 100px;
    bottom: 0;

    @include displayFlex($fD: column, $g: 56px);

    z-index: 2;

    @media (max-width: 1440px) {
      display: none;
    }

    &>span {
      transform: rotate(90deg);

      font-size: 23px;

      color: $colorWhite;
    }

    &>img {
      width: 24px;
      height: 24px;
    }
  }
}

.vector-banner {
  position: absolute;
  left: 0;

  width: 100%;

  z-index: 1;

  @media (max-width: 550px) {
    height: 500px;

    object-fit: cover;
  }
}