<section class="width-1440px font-family-poppins">

  <!-- Profil -->
  <div class="profil">
    <!-- Picture -->
    <div class="picture">
      <img src="../../../assets/graphics/profil/profil_1.png" alt="">
    </div>

    <!-- I am -->
    <div class="headline-wrapper">

      <div class="headline">
        <span>Ich bin</span>
        <div>
          <span><b>Stephan Schmidt</b></span>
          <br>
          <span>FRONTEND ENTWICKLER</span>
        </div>
      </div>

      <a class="button-green" href="#contact">Let's talk!</a>

    </div>
  </div>

  <div class="find-scroll-wrapper">
    <!-- Find me on -->
    <div class="find-me-on">
      <div>
        <div></div>
      </div>

      <nav>
        <div>
          <a href="https://github.com/Spawn821" target="_blank">
            <div class="icon github-icon"></div>
          </a>
          <a href="#contact">
            <div class="icon email-icon"></div>
          </a>
          <a href="">
            <div class="icon linkedin-icon"></div>
          </a>
        </div>
      </nav>

      <a href="#contact">stephan.schmidt821&#64;gmail.com</a>
    </div>

    <!-- Scroll down -->
    <div class="scroll-down">
      <span>Scroll down</span>
      <img src="./../../../assets/graphics/icons/arrow-down-line.png" alt="">
    </div>
  </div>

  <!-- Vector banner -->
  <img class="vector-banner" src="./../../../assets/graphics/vector/Vector.png" alt="">

</section>
