<section class="font-family-poppins">

    <!-- Profil -->
    <div class="profil">

        <div class="picture">
            <img src="./../../../assets/graphics/profil/profil_1.png" alt="">
        </div>

        <div class="find-me-on">
            <div>
                <div></div>
            </div>

            <nav>
                <a href="">
                    <img src="./../../../assets/graphics/icons/github-small.png" alt="">
                </a>
                <a href="">
                    <img src="./../../../assets/graphics/icons/email-small.png" alt="">
                </a>
                <a href="">
                    <img src="./../../../assets/graphics/icons/linkedin-small.png" alt="">
                </a>
            </nav>

            <a href="#">stephan.schmidt821&#64;gmail.com</a>
        </div>

    </div>

    <!-- Headline -->
    <div class="headline-wrapper">

        <div class="headline">
            <span>I am</span>
            <div>
                <span><b>Stephan Schmidt</b></span>
                <br>
                <span>FRONTEND DEVELOPER</span>
            </div>
        </div>

        <button>Let's talk!</button>

    </div>

    <!-- Vector banner -->
    <img class="vector-banner" src="./../../../assets/graphics/vector/Vector.png" alt="">

    <!-- Scroll down -->
    <div class="scroll-down">
        <span>Scroll down</span>
        <img src="./../../../assets/graphics/icons/arrow-down-line.png" alt="">
    </div>

</section>