@import './../../../../styles.scss';

.project {
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 136px;

    padding-top: 48px;

    &>img:nth-child(1) {
        width: 450px;

        object-fit: contain;

        z-index: 1;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;

        margin-right: 64px;

        max-width: 513px;

        z-index: 1;

        &>div:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            text-align: left;

            &>span {
                font-size: 32px;
                font-weight: 700;

                color: $colorPurple;
            }

            &>p:nth-child(2) {
                font-size: 23px;

                color: $colorGreen;
            }

            &>p:nth-child(3) {
                font-size: 16px;

                color: $colorWhite
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 86px;
        }
    }
}

.flex-dir-row-reverse {
    flex-direction: row-reverse;
}

.align-items-flex-end {
    align-items: flex-end !important;
}

.text-align-right {
    text-align: right;
}

.margin-left-50px {
    margin-right: 0;
    margin-left: 64px;
}

.portfolio-shadow {
    position: absolute;

    object-fit: contain;
}

.portfolio-shadow-green {
    right: -420px;
    top: -420px;

    width: 829px;
    height: 1351px;

    transform: rotate(70deg);

    animation: scale-image-green 5s infinite linear;

    @keyframes scale-image-green {
        0% {
            transform: rotate(70deg) scale(1);
        }
        50% {
            transform: rotate(70deg) scale(1.1);
        }
        100% {
            transform: rotate(70deg) scale(1);
        }
    }
}

.portfolio-shadow-purple {
    left: -40px;
    top: -96px;

    width: 836px;
    height: 949px;

    animation: scale-image-purple 5s infinite linear;

    @keyframes scale-image-purple {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
}