<section class="width-1440px">

  <div>
    <!-- About me -->
    <div class="about-me font-family-poppins">
      <h1>About me</h1>

      <div>
        <p>
          Hi, I am a Fron-edn deverleoper based in Gotha thuringia,
          Germany(...) Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem perspiciatis
          voluptatum,
          commodi perferendis soluta nesciunt quia architecto ad odit quos nostrum inventore qui pariatur facere
          dolore
          voluptates sit hic fugiat!
        </p>

        <div class="light-bulb">
          <div></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae laborum officia at excepturi, ad
            suscipit ullam tempore necessitatibus aspernatur debitis enim consectetur, sapiente quod nisi
            consequatur quos natus quidem neque.</p>
        </div>

        <div class="puzzle-piece">
          <div></div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed delectus quos a laudantium earum porro
            repellat, quam cumque maxime quia saepe voluptatum aspernatur, odit corrupti. Consequatur ratione
            sint quae error.</p>
        </div>
      </div>
    </div>

    <!-- Purple shadow -->
    <img class="about-me-shadow-mobile" src="./../../../assets/graphics/shadows/about-me-shadow-purple.svg" alt="">
  </div>

  <!-- Profile -->
  <div class="profil">
    <img src="../../../assets/graphics/profil/profil_2.png" alt="">
    <div></div>

    <!-- Purple shadow -->
    <img class="about-me-shadow-desktop" src="./../../../assets/graphics/shadows/about-me-shadow-purple.svg" alt="">
  </div>

</section>
