<section>

  <div class="about-me">

    <div>
      <!-- About me -->
      <div class="about-me-text font-family-poppins mirror-left">
        <h1>About me</h1>

        <div>
          <p>
            Hallo, ich bin Frontend-Entwickler mit Sitz in Gotha Thüringen.
            Seit einigen Monaten mache ich eine Weiterbildung zum Webentwickler.
            Ich habe an vielen Projekten gearbeitet, von einfachen Webseiten bis
            hin zu komplexen Webanwendungen. Selbst ein kleines Spiel habe ich programmiert.
            Ich habe mit einigen Programmiersprachen und -technologien gearbeitet
            (siehe hierzu den 'My skills'-Abschnitt). Ich arbeitete alleine wie auch im Team
            (siehe hierzu den 'Portfolio'-Abschnitt. Ich war steht's Teil einer großen Community
            von gleichgesinnten und bekam regelmäßige Codereviews von erfahrenen Programmierern.
          </p>

          <div class="light-bulb">
            <div></div>
            <p>
              Ich bin ein offenherziger Mensch und versuche steht's mein Team zu unterstützen
              und lasse mich von meinen Kollegen gerne inspirieren.
              Ein weing Spaß gehört für mich auch immer zur Arbeit dazu.
              Eine entspannte Arbeitsatmussphäre ist mir sehr wichtig.
            </p>
          </div>

          <div class="puzzle-piece">
            <div></div>
            <p>
              Mein Ehrgeiz pakt mich oft und treibt mich an, eine Lösung für ein Problem zu finden.
              Dabei kann es schonmal passieren das ich mich an einer Sache festbeiße.
              Weiterentwicklung ist für mich unumgänglich, wie auch die Werkzeuge die ich nutze.
            </p>
          </div>
        </div>
      </div>

      <!-- Purple shadow -->
      <img class="about-me-shadow-mobile" src="./../../../assets/graphics/shadows/about-me-shadow-purple.svg" alt="">
    </div>

    <!-- Profile -->
    <div class="profil mirror-left">
      <img src="../../../assets/graphics/profil/profil_2.png" alt="">
      <div class="hidden-right"></div>
    </div>

  </div>

  <!-- Purple shadow -->
  <img class="about-me-shadow-desktop" src="./../../../assets/graphics/shadows/about-me-shadow-purple.svg" alt="">

</section>
