<section class="width-1440px">

  <div>
    <!-- About me -->
    <div class="about-me font-family-poppins">
      <h1>About me</h1>

      <div>
        <p>
          Hallo, ich bin Fron-end deverleoper mit Sitz in Gotha Thüringen.
          Seit einigen Monaten mache ich eine Weiterbildung zum Webentwickler.
          Ich habe an vielen Projekten gearbeitet, von einfachen Webseiten z.B.
          einem Notizblock, bis hin zu komplexen Webanwendungen einem wie einem Kanbanboard.
          Selbst ein kleines Spiel habe ich programmiert. Ich arbeite mit einigen
          Programmiersprachen und Programmiertechnologien (siehe hierzu den 'My skills'-Abschnitt).
          Ich habe alleine wie auch im Team an diesen Prjoekten gearbeitet (siehe hierzu den 'Portfolio'-Abschnitt.
          Ich war steht's Teil einer großen Community von gleichgesinnten und
          bekam regelmäßige Codereviews von erfahrenen Programmierern.
        </p>

        <div class="light-bulb">
          <div></div>
          <p>
            Ich bin ein offenherziger Mensch und versuche steht's mein Team zu unterstützen
            und lasse mich von meinen Kollegen gerne inspirieren.
            Ein weing Spaß gehört für mich auch immer zur Arbeit dazu.
            Eine entspannte Arbeitsatmussphäre ist mir sehr wichtig.
          </p>
        </div>

        <div class="puzzle-piece">
          <div></div>
          <p>
            Mein Ehrgeiz pakt mich oft und treibt mich an, eine Lösung für ein Problem zu finden.
            Dabei kann es schonmal passieren das ich mich an einer Sache festbeiße.
            Weiterentwicklung ist für mich unumgänglich, wie auch die Werkzeuge die ich nutze.
          </p>
        </div>
      </div>
    </div>

    <!-- Purple shadow -->
    <img class="about-me-shadow-mobile" src="./../../../assets/graphics/shadows/about-me-shadow-purple.svg" alt="">
  </div>

  <!-- Profile -->
  <div class="profil">
    <img src="../../../assets/graphics/profil/profil_2.png" alt="">
    <div></div>

    <!-- Purple shadow -->
    <img class="about-me-shadow-desktop" src="./../../../assets/graphics/shadows/about-me-shadow-purple.svg" alt="">
  </div>

</section>
