@import './../../styles.scss';

section {
  position: relative;

  @include displayFlex();

  background-color: $colorBlack;

  overflow: clip;

  & > div {
    @include displayFlex($fD: column, $aI: flex-start);

    margin-top: 111.71px;

    padding: 64px 100px;

    color: $colorWhite;

    text-align: left;

    z-index: 1;

    @media (max-width: 750px) {
      width: calc(100vw - 50px);

      padding: 64px 25px;

      & > p {
        width: calc(100vw - 50px);

        & > a {
          white-space: pre-wrap;
          word-wrap: break-word;
        }
      }
    }

    @media (max-width: 450px) {
      width: calc(100vw - 16px);

      padding: 64px 8px;

      & > p {
        width: calc(100vw - 16px);

        & > a {
          white-space: pre-wrap;
          word-wrap: break-word;
        }
      }
    }
  }
}

h1,
h2 {
  color: $colorPurple;

  @media (max-width: 450px) {
    font-size: 1.25rem;
  }
}


h3 {
  color: $colorGreen;
}

.privacy-policy-image {
  position: absolute;

  object-fit: contain;
}

.vector-banner {
  top: 242px;

  width: 100%;
  height: auto;
}

.portfolio-shadow-green {
  right: -420px;
  top: 0;

  width: 829px;
  height: 1351px;

  transform: rotate(70deg);

  @media (max-width: 800px) {
    right: -370px;

    width: 629px;
    height: 1151px;
  }
}

.portfolio-shadow-purple {
  left: 0;
  top: 1000px;

  width: 736px;
  height: 849px;

  @media (max-width: 1200px) {
    width: 636px;
    height: 749px;
  }

  @media (max-width: 800px) {
    left: -125px;
    top: 3500px;

    width: 486px;
    height: 599px;
  }
}

.privacy-policy-shadow-green {
  right: 0;
  bottom: 200px;

  width: 822px;
  height: 678px;

  @media (max-width: 1200px) {
    width: 622px;
    height: 578px;
  }

  @media (max-width: 800px) {
    right: -125px;

    width: 582px;
    height: 528px;
  }
}
