@import './../../../../styles.scss';

footer {
    @include displayFlex($fD: column, $aI: flex-start, $g: 4px);

    color: $colorWhite;
    background-color: $colorBlack;

    padding: 80px 100px;

    border-top: 4px solid $colorGreen;

    &>div {
        @include displayFlex($jC: space-between);

        width: 100%;

        &>a {
            &>img {
                width: 216px;
            }
        }

        &>span {
            font-size: 23px;
        }

        &>nav {
            @include displayFlex($jC: flex-start);

            width: 179px;

            &>div {
                @include displayFlex($jC: flex-start, $g: 42px);

                height: 41px;

                &>a {
                    @include displayFlex();
                }
            }
        }
    }

    &>a {
        font-size: 16px;
    }
}