<section>
    <div>
        <img src="./../../../../assets/graphics/logo.png" alt="">

        <span>© Stephan Schmidt 2024</span>

        <nav>
            <a href="#">
                <img src="./../../../../assets/graphics/icons/github-small.png" alt="">
            </a>
            <a href="#">
                <img src="./../../../../assets/graphics/icons/email-small.png" alt="">
            </a>
            <a href="#">
                <img src="./../../../../assets/graphics/icons/linkedin-small.png" alt="">
            </a>
        </nav>
    </div>

    <a href="#">Impressum</a>
</section>