<section>

    <div>
        <!-- Logo -->
        <a href="#above-the-fold">
            <img src="./../../../../assets/graphics/logo.png" alt="">
        </a>

        <span>© Stephan Schmidt 2024</span>

        <!-- Nav bar -->
        <nav>
            <div>
                <a href="https://github.com/Spawn821" target="_blank">
                    <div class="icon github-icon"></div>
                </a>
                <a href="#contact">
                    <div class="icon email-icon"></div>
                </a>
                <a href="">
                    <div class="icon linkedin-icon"></div>
                </a>
            </div>
        </nav>
    </div>

    <a href="imprint">Impressum</a>

</section>