@import './../../../../styles.scss';

section {
  position: relative;

  @include displayFlex();

  width: 100%;

  border-top: 4px solid $colorGreen;

  background-color: $colorBlack;

  z-index: 2;
}

footer {
  @include displayFlex($fD: column, $aI: flex-start, $g: 4px);

  color: $colorWhite;

  width: 1440px;

  padding: 80px 0;

  @media (max-width: 1440px) {
    width: calc(100vw - 200px);
  }

  @media (max-width: 1000px) {
    @include displayFlex($fD: column, $g: 28px);

    width: calc(100vw - 50px);
  }

  & > div {
    @include displayFlex($jC: space-between);

    width: 100%;

    @media (max-width: 1000px) {
      @include displayFlex($fD: column, $g: 28px);
    }

    & > a {
      & > img {
        width: 216px;

        @media (max-width: 1000px) {
          margin-bottom: 16px;
        }
      }
    }

    & > span {
      font-size: 23px;
    }

    & > nav {
      @include displayFlex($jC: flex-start);

      width: 179px;

      & > div {
        @include displayFlex($jC: flex-start, $g: 42px);

        height: 41px;

        & > a {
          @include displayFlex();
        }
      }
    }
  }

  & > a {
    font-size: 16px;
  }
}
