<section class="width-1440px font-family-poppins">

    <!-- Vector banner -->
    <img class="imprint-image vector-banner" src="./../../assets/graphics/vector/Vector.png" alt="">

    <!-- Shadow -->
    <img class="imprint-image about-me-shadow" src="./../../assets/graphics/shadows/about-me-shadow-purple.svg" alt="">
    <img class="imprint-image privacy-policy-shadow-green" src="./../../assets/graphics/shadows/privacy-policy-shadow-green.svg"
        alt="">
    <img class="imprint-image portfolio-shadow-green"
        src="./../../assets/graphics/shadows/my-skills-shadow-green.svg" alt="">

    <!-- Main content -->
    <div>
        <h2>Angaben gemäß § 5 TMG:</h2>
        <p><br>Stephan Schmidt</p>
        <h3>Postanschrift:</h3>
        <p>Gayerstr. 13<br>99867 Gotha<br>EG</p>
        <h3>Kontakt:</h3>
        <p>Telefon: 01732433369<br>E-Mail: stephan.schmidt821&#64;gmail.com</p>
        <p></p>
        <p><br></p>
        <p></p>
        <h2>Hinweise zur Website</h2>
        <p></p>
        <h3>Urheberrechtliche Hinweise</h3>
        <p>Developer Akademie GmbH
            <br>Tassiloplatz 25
            <br>81541 München
            <br>
            <br>HRB 269921, AG München
            <br>Developerakademie.com
            <br>
            <br>Stephan Schmidt
            <br>Gayerstr. 13
            <br>99867 Gotha
            <br>stephan-schmidt-web-developer.de<br>
        </p>
        <br>
        <p></p>
        <h2>Information gemäß § 36 VSBG</h2>
        <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in
            Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
        <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
            teilzunehmen.</p>
        <p></p>
        <p><em>Das Impressum wurde mit dem <a
                    href="https://www.activemind.de/datenschutz/generatoren/impressum/">Impressums-Generator der
                    activeMind AG</a> erstellt.</em></p>
    </div>

</section>