@import './../../../styles.scss';

section {
  position: relative;

  @include displayFlex();

  width: 100vw;
}

.my-skills {
  position: relative;

  @include displayFlex($jC: space-between);

  width: 1440px;

  padding-top: 120px;
  padding-bottom: 120px;

  color: $colorWhite;

  transition: 75ms all ease-in-out;

  @media (max-width: 1440px) {
    @include displayFlex($fD: column-reverse, $g: 80px);
  }

  .button-mobile {
    display: none;

    @media (max-width: 1440px) {
      @include displayFlex($aI: flex-start);

      height: 100px;

    }
  }
}

.properties {
  display: flex;
  flex-wrap: wrap;
  column-gap: 123px;
  row-gap: 54px;

  width: 721px;

  margin-left: 100px;

  z-index: 1;

  @media (max-width: 1440px) {
    margin-left: 0;
  }

  @media (max-width: 800px) {
    width: 521px;
  }

  @media (max-width: 600px) {
    column-gap: 54px;
    row-gap: 54px;

    width: calc(100vw - 48px);
  }

  & > div {
    @include displayFlex($fD: column, $g: 10px);

    cursor: default;

    & > img {
      width: 60px;
      height: 60px;

      object-fit: contain;

      @media (max-width: 600px) {
        width: 45px;
        height: 45px;
      }
    }

    & > span {
      text-align: center;

      font-size: 16px;
      font-weight: 700;

      @media (max-width: 600px) {
        font-size: 14px;
      }
    }

    &:hover {
      & > img {
        animation: translateY-image 500ms;

        @keyframes translateY-image {
          from {
            transform: translateY(-8px);
          }

          to {
            transform: translateY(0);
          }
        }

      }
    }
  }

  & > * {
    flex: 0 0 86px;

    @media (max-width: 1440px) {
      flex: 1;
    }

    @media (max-width: 600px) {
      flex: 1 0 0;
    }

    @media (max-width: 400px) {
      flex: 1 0 86px;
    }
  }
}

.my-skills-text {
  position: relative;

  @include displayFlex($fD: column, $g: 32px);

  @media (max-width: 1440px) {
    @include displayFlex($fD: column, $aI: flex-end, $g: 32px);

    width: 100%;
  }

  @media (max-width: 800px) {
    width: 100vw;

    margin-left: 20px;
  }

  & > div {
    @include displayFlex($jC: flex-end, $aI: flex-start, $g: 40px);

    @media (max-width: 800px) {
      @include displayFlex($jC: flex-end, $aI: flex-start, $g: 24px);
    }

    .headline {
      @include displayFlex($fD: column, $aI: flex-end);

      width: 471px;

      @media (max-width: 800px) {
        width: 100%;
      }

      & > span {
        font-size: 90px;
        font-weight: 700;

        text-align: right;

        @media (max-width: 800px) {
          font-size: 45px;
        }
      }

      & > p {
        font-size: 16px;

        text-align: right;
        text-wrap: wrap;
      }
    }

    .seperator {
      position: absolute;

      right: calc((1440px - 100vw) / 2 );

      width: calc(((100vw - 1440px) / 2) - 25px);

      margin-top: 67.5px;

      border: 4px solid $colorPurple;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      @media (max-width: 800px) {
        width: 32px;

        margin-top: 32px;
      }
    }

  }

  .button-desktop {
    @include displayFlex($aI: flex-start);

    height: 100px;

    @media (max-width: 1440px) {
      display: none;
    }
  }
}

.my-skills-shadow {
  position: absolute;
  left: -500px;
  top: -125px;

  width: 829px;
  height: 1351px;

  transform: scaleY(-1);

  z-index: 1;

  @media (max-width: 1440px) {
    top: 500px;
  }

  @media (max-width: 950px) {
    top: 250px;

    width: 729px;
    height: 1251px;
  }

  @media (max-width: 400px) {
    left: -400px;
    top: 500px;

    width: 629px;
    height: 1151px;
  }
}
