@import './../../../styles.scss';

section {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 128px 0;

    color: $colorWhite;
    background-color: $backgroundColorBlack;

    overflow: hidden;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    column-gap: 123px;
    row-gap: 54px;

    width: 721px;

    margin-left: 100px;

    z-index: 1;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        cursor: default;

        &>img {
            width: 60px;
            height: 60px;

            object-fit: contain;

        }

        &>span {
            text-align: center;

            font-size: 16px;
            font-weight: 700;
        }

        &:hover {
            &>img {
                animation: translateY-image 500ms;

                @keyframes translateY-image {
                    from {
                        transform: translateY(-8px);
                    }

                    to {
                        transform: translateY(0);
                    }
                }

            }
        }
    }

    &>* {
        flex: 0 0 86px;
    }
}

.my-skills {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    &>div {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 40px;

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            width: 471px;

            &>h1 {
                font-size: 90px;

                line-height: 24px;

                margin-top: 0;
            }

            &>p {
                font-size: 16px;

                text-align: right;
            }
        }

        .seperator {
            &>div {
                width: 58px;

                border: 4px solid $colorPurple;

                margin-top: 12px;

                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }

    }

    .button-wrapper {
        display: flex;
        align-items: flex-start;

        height: 100px;
    }
}

.my-skills-shadow {
    position: absolute;
    left: -525px;
    top: 175px;

    width: 1022px;
    height: 878px;

    object-fit: contain;

    transform: rotate(30deg);

    animation: move 5s infinite linear;

    @keyframes move {
        0% {
            left: -525px;
            top: 175px;
        }

        50% {
            left: -500px;
            top: 150px;
        }

        100% {
            left: -525px;
            top: 175px;
        }
    }
}