<section class="width-1440px font-family-poppins">

  <div class="button-mobile">
    <a class="button-green" href="#contact">Get on touch</a>
  </div>

  <!-- Properties -->
    <div class="properties">
        <!-- Angular -->
        <div>
            <img src="./../../../assets/graphics/my-skills/angular-property.png" alt="">
            <span>Angular</span>
        </div>

        <!-- TypeScript -->
        <div>
            <img src="./../../../assets/graphics/my-skills/typescript-property.png" alt="">
            <span>TypeScript</span>
        </div>

        <!-- JavaScript -->
        <div>
            <img src="./../../../assets/graphics/my-skills/javascript-property.png" alt="">
            <span>JavaScript</span>
        </div>

        <!-- HTML -->
        <div>
            <img src="./../../../assets/graphics/my-skills/html-property.png" alt="">
            <span>HTML</span>
        </div>

        <!-- Firebase -->
        <div>
            <img src="./../../../assets/graphics/my-skills/firebase-property.png" alt="">
            <span>Firebase</span>
        </div>

        <!-- GIT -->
        <div>
            <img src="./../../../assets/graphics/my-skills/git-property.png" alt="">
            <span>GIT</span>
        </div>

        <!-- CSS -->
        <div>
            <img src="./../../../assets/graphics/my-skills/css-property.png" alt="">
            <span>CSS</span>
        </div>

        <!-- Rest-Api -->
        <div>
            <img src="./../../../assets/graphics/my-skills/api-property.png" alt="">
            <span>Rest-Api</span>
        </div>

        <!-- Scrum -->
        <div>
            <img src="./../../../assets/graphics/my-skills/scrum-property.png" alt="">
            <span>Scrum</span>
        </div>

        <!-- Material Design -->
        <div>
            <img src="./../../../assets/graphics/my-skills/material-design-property.png" alt="">
            <span>Material<br>Design</span>
        </div>
    </div>

    <!-- My skills -->
    <div class="my-skills">
        <div>
            <div class="headline">
                <span>My skills</span>
                <p>
                  Ich habe mit einige Sprachen und Technologien gearbeitet. Angefangen von Statik mit HTML,
                  customizing mit CSS, bishin zur Dynamik mit JavaScript. Desweiteren Arbeitete ich mit der API
                  Schnittstelle und Datenbankanbindung über Firebase. Die Versionsverwaltung über GIT war ein
                  ständiger Begleiter. Scrum gab mir viel Freiraum in der Planung und Struktur, von den ersten
                  Zeilen in jedem Projekt, bishin zum Release. In TypeScript lernte ich mit Datentypen umzugehen
                  und meinen Code konsistenter und sicherer zu machen. Auch einige Schritte machte ich im umgang
                  mit Material Design und seinen Layouts. Zuletzt lernte ich den Umgang mit dem Framwork Angular.
                  In dem ich auch diese Website programmiert habe.
                </p>
            </div>

            <div class="seperator"></div>
        </div>

        <div class="button-desktop">
            <a class="button-green" href="#contact">Get on touch</a>
        </div>
    </div>

    <img class="my-skills-shadow" src="./../../../assets/graphics/shadows/my-skills-shadow-green.svg" alt="">

</section>
