@import './../../../styles.scss';

section {
    position: relative;

    @include displayFlex($jC: space-between);

    padding-bottom: 128px;

    color: $colorWhite;
    background-color: $colorBlack;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    column-gap: 123px;
    row-gap: 54px;

    width: 721px;

    margin-left: 100px;

    z-index: 1;

    &>div {
        @include displayFlex($fD: column, $g: 10px);

        cursor: default;

        &>img {
            width: 60px;
            height: 60px;

            object-fit: contain;

        }

        &>span {
            text-align: center;

            font-size: 16px;
            font-weight: 700;
        }

        &:hover {
            &>img {
                animation: translateY-image 500ms;

                @keyframes translateY-image {
                    from {
                        transform: translateY(-8px);
                    }

                    to {
                        transform: translateY(0);
                    }
                }

            }
        }
    }

    &>* {
        flex: 0 0 86px;
    }
}

.my-skills {
    @include displayFlex($fD: column, $g: 32px);

    &>div {
        @include displayFlex($jC: flex-end, $aI: flex-start, $g: 40px);

        .headline {
            @include displayFlex($fD: column, $aI: flex-end);

            width: 471px;

            &>span {
                font-size: 90px;
            }

            &>p {
                font-size: 16px;

                text-align: right;
            }
        }

        .seperator {
            width: 58px;

            margin-top: 67.5px;

            border: 4px solid $colorPurple;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

    }

    .button-wrapper {
        @include displayFlex($aI: flex-start);

        height: 100px;
    }
}

.my-skills-shadow {
    position: absolute;
    left: -500px;
    top: -125px;

    width: 829px;
    height: 1351px;

    transform: scaleY(-1);
}