<section class="font-family-poppins">

    <!-- Properties -->
    <div class="properties">
        <!-- Angular -->
        <div>
            <img src="./../../../assets/graphics/my-skills/angular-property.png" alt="">
            <span>Angular</span>
        </div>

        <!-- TypeScript -->
        <div>
            <img src="./../../../assets/graphics/my-skills/typescript-property.png" alt="">
            <span>TypeScript</span>
        </div>

        <!-- JavaScript -->
        <div>
            <img src="./../../../assets/graphics/my-skills/javascript-property.png" alt="">
            <span>JavaScript</span>
        </div>

        <!-- HTML -->
        <div>
            <img src="./../../../assets/graphics/my-skills/html-property.png" alt="">
            <span>HTML</span>
        </div>

        <!-- Firebase -->
        <div>
            <img src="./../../../assets/graphics/my-skills/firebase-property.png" alt="">
            <span>Firebase</span>
        </div>

        <!-- GIT -->
        <div>
            <img src="./../../../assets/graphics/my-skills/git-property.png" alt="">
            <span>GIT</span>
        </div>

        <!-- CSS -->
        <div>
            <img src="./../../../assets/graphics/my-skills/css-property.png" alt="">
            <span>CSS</span>
        </div>

        <!-- Rest-Api -->
        <div>
            <img src="./../../../assets/graphics/my-skills/api-property.png" alt="">
            <span>Rest-Api</span>
        </div>

        <!-- Scrum -->
        <div>
            <img src="./../../../assets/graphics/my-skills/scrum-property.png" alt="">
            <span>Scrum</span>
        </div>

        <!-- Material Design -->
        <div>
            <img src="./../../../assets/graphics/my-skills/material-design-property.png" alt="">
            <span>Material<br>Design</span>
        </div>
    </div>

    <!-- My skills -->
    <div class="my-skills">
        <div>
            <div class="headline">
                <span>My skills</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nisi exercitationem culpa quibusdam
                    magnam
                    modi
                    itaque praesentium qui, aliquid quod cum omnis neque quae ut asperiores maxime laudantium vero
                    quaerat!
                </p>
            </div>

            <div class="seperator"></div>
        </div>

        <div class="button-wrapper">
            <a class="button-green" href="#contact">Get on touch</a>
        </div>
    </div>

    <img class="my-skills-shadow" src="./../../../assets/graphics/shadows/my-skills-shadow-green.svg" alt="">

</section>