<section class="font-family-poppins">

  <div class="portfolio">

    <!-- Headline -->
    <div class="headline hidden-right">
      <div>
        <span>Portfolio</span>
        <div class="seperator"></div>
      </div>

      <p>{{ languageList[currentLanguage][0] }}</p>
    </div>

    <!-- Project sections -->
    <div class="my-projects">
      @if (currentLanguage === '' || currentLanguage === 'german') {
        @for (singleProject of projectlistdata.projectlist['german']; track singleProject.img; let index = $index) {
          <app-singleproject [index]="index" [project]="singleProject"></app-singleproject>
        }
      } @else {
        @for (singleProject of projectlistdata.projectlist['english']; track singleProject.img; let index = $index) {
          <app-singleproject [index]="index" [project]="singleProject"></app-singleproject>
        }
      }
    </div>

  </div>

</section>
